<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30015">
		<setting id="chomikuj-enable" type="bool" label="30004" default="false"/>
		<setting id="chomikuj-username" type="text" label="30005" default="" visible="!eq(-1,false)"/>
		<setting id="chomikuj-password" type="text" label="30006" default="" option="hidden" visible="!eq(-2,false)"/>
		<setting id="chomikuj-check" type="bool" label="30000" default="false" visible="false"/>
		<setting type="sep"/>
		<setting id="servidor-enable" type="bool" label="30023" default="false"/>
		<setting id="servidor-cover" type="text" label="30022" default="" visible="!eq(-1,false)"/>
		<setting type="sep"/>
		<setting id="caminho-enable" type="bool" label="30025" default="false"/>
		<setting type="sep"/>
		<setting id="imagens-disable" type="bool" label="30026" default="false"/>
		<setting id="legendas-disable" type="bool" label="30027" default="false"/>
		<setting type="sep"/>
		<setting id="movielibrary-enable" type="bool" label="30028" default="false"/>
		<setting id="tvshowlibrary-enable" type="bool" label="30029" default="false"/>
		<setting id="tvshowname-enable" type="bool" label="30030" default="false"/>
	</category>
	<category label="30016">
		<setting id="filesorder" label="30007" type="enum" lvalues="30020|30021" default="0"/>
		<setting id="fileasc" label="30008" type="enum" lvalues="30031|30032|30033|30034" default="0"/>
		<setting type="sep"/>
		<setting id="aviso-extensao" type="bool" label="30000" default="true"/>
		<setting id="ultima-pesquisa" type="text" label="30009" default="" visible="false"/>
		<setting type="sep"/>
		<setting id="track-player" type="bool" label="30149" default="true"/>
		<setting id="resumefolder" type="folder" label="30151" default="special://userdata/addon_data/plugin.video.chomiteca/trackplayer" enable="!eq(-1,false)"/>
	</category>
	<category label="30017">
		<setting id="libraryfolder" type="folder" label="30147" default="special://userdata/addon_data/plugin.video.chomiteca/Movies"/>
		<setting id="tvshowlibraryfolder" type="folder" label="30148" default="special://userdata/addon_data/plugin.video.chomiteca/TVshows"/>
		<setting id="musicvideolibraryfolder" type="folder" label="30150" default="special://userdata/addon_data/plugin.video.chomiteca/Musicvideos"/>
	</category>
	<category label="30018">
		<setting id="search-order" type="bool" label="30010" default="false"/>
		<setting type="sep"/>
		<setting id="activate-size" type="bool" label="30011" default="false"/>
		<setting type="sep"/>
		<setting id="min-size" type="number" label="30012" enable="!eq(-2,false)" default="0"/>
		<setting id="max-size" type="number" label="30013" enable="!eq(-3,false)" default="0"/>
		<setting type="sep"/>
		<setting id="folder-type" type="enum" label="30014" default="0" lvalues="30035|30036"/>
	</category>
	<category label="30140">
		<setting id="subtitles" type="bool" label="30143" default="false"/>
		<setting type="sep"/>
		<setting id="sublang1" type="select" label="30144" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-2,false)" default="English"/>
		<setting id="sublang2" type="select" label="30145" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-3,false)" default="English"/>
		<setting id="minsize" type="number" label="30146" default="20"/>		
		<setting type="lsep" label="[CR]"/>
		<setting type="lsep" label="30141"/>
		<setting type="lsep" label="30142"/>
	</category>		   
</settings>
